body
{
  background-image: url(picture/fond.jpg);
  background-attachment: fixed;
  cursor: url(picture/cursor/cursor.png), pointer;
}

h1
{
  text-align: center;  color : red;
}

h2
{
  text-align: center; color: lightblue;
}

h3
{
  text-align: center; color: white;
}

#topic
{
    text-align: center;
}

#battle
{
    text-align: center;  color : black;
}

#launch
{
  text-align: center;
}
